@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Roboto&display=swap');

body {
  background-color: #f8f8f8;
  color: #0b132b;
  font-family: 'Roboto', sans-serif;
  text-justify: auto;
  font-size: 1.1em;
}

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

h1 {
  /* color: #008037 */
  /* color: #4F8A2B; */
  /* color: #4F8A8B; */
  color: #0b132b;
}

h2 {
  color: #008037
}

h3 {
  color: #EC4E20;
}

p {
  padding: 10px 20px;
}

.card-elt {
  padding: 5px;
  margin: 5px;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.img-circle {
  border-radius: 50%;
}

.img-size {
  height: 120px;
  width: 120px;
  /* object-fit: cover; */
}

.text-center {
  text-align: center;
}

.card-lightgrey {
  margin: 20px;
  padding: 10px;
  background: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #eee;
  box-shadow: 2px 2px 2px #d9d9d9;

}

.text-as-button {
  padding: 5px;
  margin: 10px 5px;
  color: #0b132b;
  background-color: #EC4E20;
  border-radius: 4px;
  border-bottom: 2px solid #d9d9d9;
}

.text-as-button:hover {
  box-shadow: 4px 2px 2px #d9d9d9;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline>li {
  display: inline-block;
  padding: 5px;
}

.fab {
  /* color: #008037 */
  /* color: #4F8A2B; */
  /* color: #4F8A8B; */
  color: #0b132b;
  font-size: 40px;
}

.fab:hover {
  box-shadow: 4px 2px 2px #eee;
}

@media (max-width: 960px) {

  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {

  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {

  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}